<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.unitedpoultry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnitedPoultry"
        tools:targetApi="31">
        <activity
            android:name=".AdminExpense.AdminExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".History.FullScreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".History.ExpenseHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".rider_expense.ExpenseSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".rider_expense.AddExpenseActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminSettingModule.AdminRateHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".waste_return.RiderWasteProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".waste_return.RiderProductReturnActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminSettingModule.AdminCatagoryActivity"
            android:exported="false" />
        <activity
            android:name=".exchange_return.ReturnSucessActivity"
            android:exported="false" />
        <activity
            android:name=".exchange_return.ExchangeOrReturnActivity"
            android:exported="false" />
        <activity
            android:name=".rider_home.EggPickupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.SaleReport.AdminSalesReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.DiscountReport.AdminDiscountReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.AreaReport.AdminAreaReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.ReceivablesReport.AdminReceivableReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.RiderReport.AdminRiderReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.CollectionReport.AdminCollectionReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingModule.AdminAboutAndHelpActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingModule.AdminPrinterSettingActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingModule.AdminRateManagmentActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingModule.AdminEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingModule.SettingHomeActivity"
            android:exported="true" />
        <activity
            android:name=".AdminRiderModule.AdminEditRiderActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminRiderModule.AdminAssignAreasActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRiderModule.AdminRiderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRiderModule.AdminAddNewRiderActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminShopModule.AdminEditShopActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminShopModule.AdminAddNewShopActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminShopModule.AdminShopDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminShopModule.AdminShopListActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminArea.EditAreaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminArea.AddNewAreaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminDashBoard.AdminDashBoardActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Profile.MyPerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ChangePasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Profile.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".History.CollectionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".History.SaleHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Collection.CollectionSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Collection.ChequeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Collection.CollectionformActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Collection.SelectShopCollectionActivity"
            android:exported="true" />
        <activity
            android:name=".NewSale.SaleSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".NewSale.SaleConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".NewSale.SaleFormActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NewSale.SelectShopActivity"
            android:exported="true" />
        <activity
            android:name=".ShopModule.ShopDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ShopModule.ShopListActivity"
            android:exported="true" />
        <activity
            android:name=".Notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".RiderDashBoard.RiderDashBoardActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Authentications.AuthenticationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>