<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnitedPoultry"
        tools:targetApi="31">
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.SaleReport.AdminSalesReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.DiscountReport.AdminDiscountReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.AreaReport.AdminAreaReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.ReceivablesReport.AdminReceivableReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.RiderReport.AdminRiderReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportModule.CollectionReport.AdminCollectionReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingModule.AdminAboutAndHelpActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingModule.AdminPrinterSettingActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingModule.AdminRateManagmentActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingModule.AdminEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSettingModule.SettingHomeActivity"
            android:exported="true" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".AdminRiderModule.AdminEditRiderActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRiderModule.AdminAssignAreasActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRiderModule.AdminRiderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRiderModule.AdminAddNewRiderActivity"
            android:exported="false" />
        <activity
            android:name=".AdminShopModule.AdminEditShopActivity"
            android:exported="false" />
        <activity
            android:name=".AdminShopModule.AdminAddNewShopActivity"
            android:exported="false" />
        <activity
            android:name=".AdminShopModule.AdminShopDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminShopModule.AdminShopListActivity"
            android:exported="false" />
        <activity
            android:name=".AdminArea.EditAreaActivity"
            android:exported="false" />
        <activity
            android:name=".AdminArea.AddNewAreaActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashBoard.AdminDashBoardActivity"
            android:exported="true" /> <!-- <intent-filter> -->
<!--         <intent-filter>-->
<!--         <action android:name="android.intent.action.MAIN" />-->
<!--         <category android:name="android.intent.category.LAUNCHER" />-->
<!--         </intent-filter>-->
<!--         </activity>-->
        <activity
            android:name=".Profile.MyPerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".History.CollectionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".History.SaleHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Collection.CollectionSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Collection.ChequeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Collection.CollectionformActivity"
            android:exported="false" />
        <activity
            android:name=".Collection.SelectShopCollectionActivity"
            android:exported="true" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".NewSale.SaleSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".NewSale.SaleConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".NewSale.SaleFormActivity"
            android:exported="false" />
        <activity
            android:name=".NewSale.SelectShopActivity"
            android:exported="true" />
        <activity
            android:name=".ShopModule.ShopDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ShopModule.ShopListActivity"
            android:exported="true" /> <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".Notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".RiderDashBoard.RiderDashBoardActivity"
            android:exported="true" /> <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->
<!--         <intent-filter>-->
<!--         <action android:name="android.intent.action.MAIN" />-->
<!--         <category android:name="android.intent.category.LAUNCHER" />-->
<!--         </intent-filter>-->
<!--         </activity>-->
        <activity
            android:name=".Authentications.AuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>